<h1>{{deck.name}}</h1>
<div class="row d-flex align-items-center">
  <app-bar-types [colors]="deck.colors" [iconSize]="30"></app-bar-types>
  <app-bar-raritys [deck]="deck" class="flex-grow-1"></app-bar-raritys>
</div>
<section>
  <h2>Deck List</h2>
  <article>
    <h3>Creatures(1)</h3>
    <ul>
      <li class="d-flex" *ngFor="let card of deck.cards">
        <span class="flex-grow-1">{{card.name}}</span>
        <span></span>
        <span>
          {{card.manaCost}}
        </span>
      </li>
    </ul>
  </article>
  <button class="btn btn-block btn-primary">Export to Arena</button>
</section>