<!-- Figura Azul -->
<figure *ngIf="hasColor('blue')" class="m-0">
  <img style="width: 15px" src="https://c-6rtwjumjzx7877x24i6z0u8q9bufd8px2ehqtzikwtsyx2esjy.g00.gamepedia.com/g00/3_c-6ryl.lfrjujinf.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fi6z0u8q9bufd8p.hqtzikwtsy.sjyx2frylx78fqafynts_lfrjujinfx2f4x2f4kx2fZ.x78alx3fajwx78ntsx3d535k3k29006kf5f801gh4288j7h74ifix26n65h.rfwpx3dnrflj_$/$/$/$/$">
</figure>
<!-- Figura Preta -->
<figure *ngIf="hasColor('black')" class="m-0">
  <img style="width: 15px" src="https://c-6rtwjumjzx7877x24i6z0u8q9bufd8px2ehqtzikwtsyx2esjy.g00.gamepedia.com/g00/3_c-6ryl.lfrjujinf.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fi6z0u8q9bufd8p.hqtzikwtsy.sjyx2frylx78fqafynts_lfrjujinfx2f7x2f7kx2fG.x78alx3fajwx78ntsx3d564j6figf0060f16f1h1944fff4kfk7hx26n65h.rfwpx3dnrflj_$/$/$/$/$">
</figure>
<!-- Figura Branca -->
<figure *ngIf="hasColor('white')" class="m-0">
  <img style="width: 15px" src="https://c-6rtwjumjzx7877x24i6z0u8q9bufd8px2ehqtzikwtsyx2esjy.g00.gamepedia.com/g00/3_c-6ryl.lfrjujinf.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fi6z0u8q9bufd8p.hqtzikwtsy.sjyx2frylx78fqafynts_lfrjujinfx2f3x2f3jx2fB.x78alx3fajwx78ntsx3dk89689f20jk1341ifg0ih7k103g220f9x26n65h.rfwpx3dnrflj_$/$/$/$/$">
</figure>
<!-- Figura Vermelha -->
<figure *ngIf="hasColor('red')" class="m-0">
  <img style="width: 15px" src="https://c-6rtwjumjzx7877x24i6z0u8q9bufd8px2ehqtzikwtsyx2esjy.g00.gamepedia.com/g00/3_c-6ryl.lfrjujinf.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fi6z0u8q9bufd8p.hqtzikwtsy.sjyx2frylx78fqafynts_lfrjujinfx2f3x2f32x2fW.x78alx3fajwx78ntsx3dj1ig348770h6k5757fi67562gk38jh98x26n65h.rfwpx3dnrflj_$/$/$/$/$">
</figure>
<!-- Figura Verde -->
<figure *ngIf="hasColor('green')" class="m-0">
  <img style="width: 15px" src="https://c-6rtwjumjzx7877x24i6z0u8q9bufd8px2ehqtzikwtsyx2esjy.g00.gamepedia.com/g00/3_c-6ryl.lfrjujinf.htr_/c-6RTWJUMJZX77x24myyux78x3ax2fx2fi6z0u8q9bufd8p.hqtzikwtsy.sjyx2frylx78fqafynts_lfrjujinfx2f3x2f33x2fL.x78alx3fajwx78ntsx3d9ffj81gf8j9k675hk9h35426f2h90i4jx26n65h.rfwpx3dnrflj_$/$/$/$/$">
</figure>