$theme-colors: (
  "primary": #3AAFB9
);

$my-color: map_get($theme-colors, "primary");

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  background: url("assets/bg-w.jpg");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', $font-family-monospace;
  font-weight: bolder;
}

hr.vertical {
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         100%;
  width:          1px;
}

.wrapper {
  background: $gray-900;
  padding: $spacer;
}

.wrapper h1 {
  color: $gray-100;
}

.wrapper .content {
  background: $gray-100;
}

.btn {
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 0;
  padding: $spacer/1.3 $spacer;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: 0 0 0 .2rem $my-color; 
}

.card {
  border-color: $gray-700;
}